@import 'styles/reset.css';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: normal;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #FFCADE;
  color: #000;
}

.header {
  padding: 30px 30px 0;
}

.categories {
  flex-grow: 1;
  padding: 30px;
}

.category {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}

.category__name {
  flex-shrink: 0;
  width: 17%;
  padding: 20px 0;
  text-align: center;
  background-color: #fff;
}

.question {
  flex-grow: 1;
  margin: 0 0 0 20px;
  padding: 20px 0;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #000;
  background-color: #fff;
}

.question:last-child {
  background-color: red;
  color: #fff;
}

.question:visited {
  background: #FAE6EE;
  color: #C4C2C2;
}

.questionPage {
  padding: 30px;
}
